*{
  color:  #000000
}
.user-nav-links{
    font-weight: 400;
    font-size: 12px;
}
.title{
    font-weight: 700;
    font-size: 32px;
}
.list-Item{
    font-weight: 600;
    line-height: 20px;
}
.list-Item li {
  padding: 0.5rem; 
}
.bg-custom {
  background-color: #F4F4F4;
}
.login-title{
    font-weight: 500;
}
.checkbox {
  margin-right: 0.5rem;
} 


input[type=checkbox] {
  background-color: #000000;
  accent-color: #000000; 
  color: #ffffff;
} 

